<h1>Welcome to unit testing</h1>
<div class="content">
<span>FromValidation app is running!</span></div>
<h2>This is editing test on github</h2>
<!-- <hr>
<form #frm="ngForm" (ngSubmit)="submitForm(frm.value)">
  Id :<input type="text" #id="ngModel" name="id" ngModel required><br>
  <div *ngIf="id.errors && (id.dirty||id.touched)">
      Pls enter id it cannot be empty
      
  </div>
  Name: <input type="text" #name="ngModel" name="name" ngModel required minlength="3"><br>
  <div *ngIf="name.errors && (name.dirty  || name.touched)">
      <div [hidden]="!name.errors.required">
       Pls enter name it cannot be empty
      </div>
      <div [hidden]="!name.errors.minlength">
       Pls enter name and minlength should be 3
      </div>
  </div>
  <button type="submit" name="btn" [disabled]="!frm.valid">Submit</button>

</form>

<hr> -->
